.header{
  background-color: black;
  width: 100%;
  text-align: center;  
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.container > div {
  width: 30%;
  margin: 10px;
  text-align: left;
  height: 100%;
}

.button{
  background-color:#4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}

.button1{
  background-color: white;
  color: black;
  font-size: 16px;
}

.button2{
  background-color: pink;
  color:black;
}